<ion-content [fullscreen]="true">
  <div
    *ngIf="favorites.length === 0"
    class="empty-state ion-text-center ion-padding"
  >
    <ion-icon name="heart-outline" class="empty-icon"></ion-icon>
    <p>Nenhum Pokémon favoritado.</p>
  </div>

  <div class="favorites-container">
    <div class="favorites-grid">
      <app-pokemon-card
        *ngFor="let pokemon of favorites"
        [pokemonDatasInput]="pokemon"
        class="favorite-card"
      ></app-pokemon-card>
    </div>
  </div>
</ion-content>
